<h1>Liste des projets avec le decorator</h1>
<table border=1>
  <thead>
    <tr>
      <td>
        id
      </td>
      <td>
        project_kind
      </td>
      <td>
        purcent
      </td>
    </tr>
  </thead>
  <tbody>
    <% @projects.each do |project| %>
      <tr>
        <td><%= project.id %></td>
        <td><%= project.project_kind %></td>
        <td><%= project.purcent %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Voir la liste des projets avec le service", service_projects_path %> 
<br>
You can call api with : curl -X GET http://localhost:3000/decorator/api/v1/projects.json
